html,
body {
    height: 100%;
}

.err_list {
    font-size: 12px;
}

.err_list ul {
    margin-bottom: 5px;
    padding-left: 15px;
    color: red;
}

.table td, .table th {
  /* padding: .75rem; */
  padding: .7rem !important;
}
